   
body{
    width: 1400px;
    height: 800px;
   
    border: 5px solid rgb(25, 0, 216);
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
 

    background-image:linear-gradient(to right top, #33a0f1, #2591d6, #1882c1, #0a73aa, #006494);

    color: rgb(95, 198, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#user_name{
    font-size: 25px;
    margin: 10px;
}

#label{
    font-size: 20px;
    margin: 10px;
}

#logo1{
    width: 70px;
    height: 70px;
    align-items: center;
    margin: 10px;
}

#main_name{
    font-size: 45px;
    margin: 10px;
}

#logout{
    width: 150px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 166, 255);
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
    
}

#logoutdiv{
    text-align: left;
    margin: 10px;
}

#room_name{
    width: 390px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
}

#new{
    font-size: 25px;
    margin: 10px;
}

#addRoom{
    width: 150px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 166, 255);
    border-radius: 10px;
    font-size: 16px;
}